<template>
  <advanced-card title="地址信息设置" desc="客户的收货地址相关信息">
    <el-form ref="form" :model="dataForm">
      <el-row :gutter="100">
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="联系人">
            <el-input v-model="dataForm.user" placeholder=""></el-input>
          </el-form-item>
        </el-col>
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="电话">
            <el-input v-model="dataForm.tel" placeholder=""></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="100">
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="传真">
            <el-input v-model="dataForm.fax" placeholder=""></el-input>
          </el-form-item>
        </el-col>
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="邮箱">
            <el-input v-model="dataForm.email" placeholder=""></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="100">
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="国家">
            <el-input v-model="dataForm.country" placeholder=""></el-input>
          </el-form-item>
        </el-col>
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="省/州">
            <el-input v-model="dataForm.province" placeholder=""></el-input>
          </el-form-item>
        </el-col>
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="市">
            <el-input v-model="dataForm.city" placeholder=""></el-input>
          </el-form-item>
        </el-col>
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="区">
            <el-input v-model="dataForm.district" placeholder=""></el-input>
          </el-form-item>
        </el-col>
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="门牌号">
            <el-input v-model="dataForm.doorNo" placeholder=""></el-input>
          </el-form-item>
        </el-col>
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="邮编">
            <el-input v-model="dataForm.zipCode" placeholder=""></el-input>
          </el-form-item>
        </el-col>
        <el-col :md="{span: 16}" :sm="{span: 16}">
          <el-form-item label="详细地址">
            <el-input v-model="dataForm.detailedAddress" placeholder=""></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
  </advanced-card>
</template>

<script>
import advancedCard from '@/components/form/advaced'
export default {
  name: 'advancedAddress',
  components: {
    advancedCard
  },
  data() {
    return {
      dataForm: {
        user: '',
        tel: '',
        fax: '',
        email: '',
        country: '',
        province: '',
        city: '',
        district: '',
        doorNo: '',
        zipCode: '',
        detailedAddress: ''
      }
    }
  }
}
</script>

<style scoped></style>
