<template>
  <advanced-card title="基础设置" desc="客户的基础资料相关信息">
    <el-form ref="form" :model="dataForm">
      <el-row :gutter="100">
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="客户编码">
            <el-input v-model="dataForm.code" placeholder=""></el-input>
          </el-form-item>
        </el-col>
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="客户简称">
            <el-input v-model="dataForm.name" placeholder=""></el-input>
          </el-form-item>
        </el-col>
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="客户类型">
            <el-input v-model="dataForm.customerType" placeholder=""></el-input>
          </el-form-item>
        </el-col>
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="结算方式">
            <el-input v-model="dataForm.settlementWay" placeholder=""></el-input>
          </el-form-item>
        </el-col>
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="userToken">
            <el-input v-model="dataForm.fbaCustomerCode" placeholder=""></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="100">
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="FBA客户退件码">
            <el-input v-model="dataForm.returnCode" placeholder=""></el-input>
          </el-form-item>
        </el-col>
        <el-col :md="{span: 8}" :sm="{span: 10}">
          <el-form-item label="业务员">
            <el-input v-model="dataForm.customer" placeholder=""></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
  </advanced-card>
</template>

<script>
import advancedCard from '@/components/form/advaced'
export default {
  name: 'advancedBase',
  components: {
    advancedCard
  },
  data() {
    return {
      dataForm: {
        id: '',
        code: '',
        name: '',
        fullName: '',
        customerType: '',
        settlementWay: '',
        fbaCustomerCode: '',
        salesUserId: '',
        contactInfo: {}, // 联系人信息
        cusAddedServiceList: [], // 客户增值服务
        warehouseList: []
      }
    }
  }
}
</script>

<style scoped></style>
