<template>
  <advanced-card title="增值服务">
    <el-table :data="listData" border>
      <el-table-column prop="name" label="服务名称" min-width="180">
        <template slot-scope="scope">
          <div v-if="scope.row.isEdit">
            <el-input v-model="scope.row.name"></el-input>
          </div>
          <div v-else>
            {{ scope.row.name }}
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="info" label="服务说明" min-width="180">
        <template slot-scope="scope">
          <div v-if="scope.row.isEdit">
            <el-input v-model="scope.row.info"></el-input>
          </div>
          <div v-else>
            {{ scope.row.info }}
          </div>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="mini" @click="editHandle(scope.$index)">{{ btnText[scope.row.isEdit ? 1 : 0] }}</el-button>
          <el-popover class="el-button el-button--text el-button--mini" placement="top" width="160" trigger="click" :ref="`popover-${scope.$index}`">
            <p><i class="el-icon-warning warning font_size16"></i>确定删除吗？</p>
            <div class="text-right">
              <el-button size="mini" type="text" @click="cancelDel(scope)">取消</el-button>
              <el-button type="primary" size="mini" @click="confirmDel(scope)">确定</el-button>
            </div>
            <el-button slot="reference" type="text" size="mini">删除</el-button>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
  </advanced-card>
</template>

<script>
import advancedCard from '@/components/form/advaced'
export default {
  name: 'advancedService',
  components: {
    advancedCard
  },
  data() {
    return {
      btnText: ['编辑', '保存'],
      btnIndex: 0,
      listData: [
        { name: '换标', info: '重新贴货品条码', isEdit: false },
        { name: '包装', info: '换包装', isEdit: false }
      ]
    }
  },
  methods: {
    editHandle($index) {
      this.listData[$index].isEdit = !this.listData[$index].isEdit
    },
    deleteHandle($index) {
      this.listData.splice($index, 1)
    },
    // 删除
    cancelDel(scope) {
      scope._self.$refs[`popover-${scope.$index}`].doClose()
    },
    confirmDel(scope) {
      this.$message({
        message: this.$t('prompt.success'),
        type: 'success',
        duration: 500,
        onClose: () => {
          this.deleteHandle(scope.$index)
        }
      })
      scope._self.$refs[`popover-${scope.$index}`].doClose()
    }
  }
}
</script>

<style scoped></style>
