<template>
  <detailPage>
    <el-row :gutter="10">
      <el-col :span="12">
        <div>
          <img
            style="border-radius: 4px; margin-right: 16px;vertical-align: top;"
            src="https://gw.alipayobjects.com/zos/rmsportal/nxkuOJlFJuAUhzlMTCEe.png"
            alt="icon"
            width="28"
            height="28"
          />
          <span class="font_size20" style="height:28px; font-weight:500; line-height:28px; ">单号：234231029431</span>
        </div>
      </el-col>
      <el-col :span="12" class="text-right">
        <el-button-group>
          <el-button plain>操作</el-button>
          <el-button plain>操作</el-button>
          <el-button plain icon="el-icon-more"></el-button>
        </el-button-group>
        <el-button style="margin-left:8px" type="primary">主操作</el-button>
      </el-col>
    </el-row>
    <areaBox title="用户信息" top="15">
      <el-row :gutter="30">
        <description label="用户姓名">
          付晓晓
        </description>

        <description label="英文名">
          fuhanhan
        </description>

        <description label="身份证">
          3321944288191034921
        </description>

        <description label="联系地址">
          <Ellipsis :length="50" tooltip>
            浙江省杭州市西湖区黄姑山路工专路交叉路口
          </Ellipsis>
        </description>

        <description label="用户姓名">
          付晓晓
        </description>
      </el-row>
    </areaBox>

    <areaBox title="商品基本信息" top="15">
      <el-row :gutter="30">
        <description label="货品条码">
          B888PPPEEE3
        </description>

        <description label="货品条码">
          B888PPPEEE3
        </description>

        <description label="SKU">
          B888PPPEEE3
        </description>

        <description label="货品名称">
          testProduct2
        </description>

        <description label="货品英文名称">
          testProduct2
        </description>

        <description label="包装类型">
          非自带包装
        </description>

        <description label="品牌">
          NIKE
        </description>

        <description label="规格型号">
          test
        </description>

        <description label="货品类别">
          test
        </description>

        <description label="客户重量">
          0.5 (kg)
        </description>

        <description label="客户尺寸">
          16 X 17 X 18 (cm)
        </description>

        <description label="海关品类">
          <Ellipsis tooltip>
            母婴用品 - 婴儿用品 - 婴儿床 (12990000003)
          </Ellipsis>
        </description>

        <description label="申报价格(USD)">
          0.25
        </description>

        <description label="退货策略">
          原SKU
        </description>

        <description label="备注">
          商品导入test
        </description>

        <description label="是否易碎">
          否
        </description>

        <description label="客户名称">
          乐扣
        </description>

        <description label="创建时间">
          2020-02-27 11:05:39
        </description>
      </el-row>
    </areaBox>

    <areaBox title="日志" top="15">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane :label="item.name" :name="item.key" v-for="item in tabs" :key="item.key"></el-tab-pane>
        <el-table :data="dataList">
          <el-table-column prop="otpType" label="操作类型" width="180"> </el-table-column>
          <el-table-column prop="name" label="操作人" width="180"> </el-table-column>
          <el-table-column prop="result" label="执行结果" width="180">
            <template slot-scope="scope">
              <div>
                <el-badge is-dot class="badge_status" :type="statusType(scope.row.result)"></el-badge>
                <span>{{ statusFm(scope.row.result) }}</span>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="date" label="操作时间"> </el-table-column>
          <el-table-column prop="memo" label="备注"> </el-table-column>
        </el-table>
      </el-tabs>
    </areaBox>
  </detailPage>
</template>

<script>
import { detailPage, description, areaBox, Ellipsis } from '@/components'
export default {
  data() {
    return {
      activeName: 'first',
      dataList: [
        { otpType: '创建订单', date: '2016-05-02', name: '王小虎', result: 1, memo: '' },
        { otpType: '修改订单', date: '2016-05-04', name: '张小小', result: 0, memo: '' }
      ],
      tabs: [
        {
          name: '操作日志一',
          key: 'first'
        },
        {
          name: '操作日志二',
          key: 'second'
        },
        {
          name: '操作日志三',
          key: 'three'
        }
      ]
    }
  },
  methods: {
    statusType(status) {
      switch (status) {
        case 0:
          return 'danger'
        case 1:
          return 'success'
      }
    },
    statusFm(status) {
      switch (status) {
        case 0:
          return this.$t('logLogin.status0')
        case 1:
          return this.$t('logLogin.status1')
      }
    },
    handleClick(tab, event) {
      console.log(event)
      switch (tab.name) {
        case 'first':
          this.dataList = [
            { otpType: '创建订单', date: '2016-05-02', name: '王小虎', result: 1, memo: '' },
            { otpType: '修改订单', date: '2016-05-04', name: '张小小', result: 0, memo: '' }
          ]
          break
        case 'second':
          this.dataList = [
            { otpType: '创建订单', date: '2016-05-02', name: '王小虎', result: 1, memo: '' },
            { otpType: '修改订单', date: '2016-05-04', name: '张小小', result: 0, memo: '' },
            { otpType: '修改订单', date: '2016-05-04', name: '张小小', result: 0, memo: '不通过原因' },
            { otpType: '修改订单', date: '2016-05-04', name: '张小小', result: 0, memo: '' },
            { otpType: '修改订单', date: '2016-05-04', name: '张小小', result: 0, memo: '不通过原因' },
            { otpType: '修改订单', date: '2016-05-04', name: '张小小', result: 0, memo: '' }
          ]
          break
        case 'three':
          this.dataList = [
            { otpType: '创建订单', date: '2016-05-02', name: '王小虎', result: 1, memo: '' },
            { otpType: '修改订单', date: '2016-05-04', name: '张小小', result: 0, memo: '' },
            { otpType: '创建订单', date: '2016-05-02', name: '王小虎', result: 1, memo: '' },
            { otpType: '修改订单', date: '2016-05-04', name: '张小小', result: 0, memo: '' },
            { otpType: '创建订单', date: '2016-05-02', name: '王小虎', result: 1, memo: '' },
            { otpType: '修改订单', date: '2016-05-04', name: '张小小', result: 0, memo: '' }
          ]
          break
      }
    }
  },
  components: {
    detailPage,
    areaBox,
    Ellipsis,
    description
  }
}
</script>

<style scoped></style>
