<template>
  <detailPage class="detail-content">
    <el-row :gutter="20" type="flex" justify="center">
      <el-col :span="22">
        <description label="电商平台">
          {{ info.ecPlatform }}
        </description>
        <description label="平台货品条码">
          {{ info.ecProductBarcode }}
        </description>
        <description label="系统货号">
          {{ info.productCode }}
        </description>
        <description label="系统货品条码">
          {{ info.productBarcode }}
        </description>
        <description label="系统货品名称">
          {{ info.productName }}
        </description>
        <description label="创建人">
          {{ info.creatorName }}
        </description>
        <description label="创建时间">
          {{ info.createDate }}
        </description>
      </el-col>
    </el-row>
  </detailPage>
</template>

<script>
import { detailPage, description } from '@/components'
import { getBase } from '@/API'
export default {
  data() {
    return {
      info: {}
    }
  },
  created() {
    this.getInfo()
  },
  methods: {
    getInfo() {
      getBase('/profile/base').then(res => {
        this.info = res
      })
    }
  },
  components: {
    detailPage,
    description
  }
}
</script>
