<template>
  <div class="chart-container">
    <vePie height="100%" width="100%" :chartData="chartData" :chartSettings="chartSettings" />
  </div>
</template>

<script>
import vePie from '@/components/charts'

let rows = []
for (let i = 0; i < 5; i++) {
  let obj = { '日期': `1月${i + 1}日`, '入库订单': Math.floor(Math.random() * 30), '出库订单': Math.floor(Math.random() * 50) }
  rows.push(obj)
}

export default {
  components: { vePie },
  data() {
    return {
      chartData: {
        columns: ['日期', '入库订单', '出库订单'],
        rows: rows
      },
      chartSettings: { type: 'pie', radius: 150, offsetY: 250 }
    }
  }
}
</script>
<style lang="scss" scoped>
.chart-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px - 38px - 30px);
}
</style>
