<template>
  <div class="chart-container">
    <veRadar height="100%" width="100%" :chartData="chartData" :chartSettings="chartSettings" />
  </div>
</template>

<script>
import veRadar from '@/components/charts'

let rows = []
for (let i = 0; i < 5; i++) {
  let obj = { '日期': `1月${i + 1}日`, '入库订单': Math.floor(Math.random() * 30), '出库订单': Math.floor(Math.random() * 50), '异常订单': Math.floor(Math.random() * 50) }
  rows.push(obj)
}

export default {
  components: { veRadar },
  data() {
    return {
      chartData: {
        columns: ['日期', '入库订单', '出库订单', '异常订单'],
        rows: rows
      },
      chartSettings: { type: 'radar' }
    }
  }
}
</script>
<style lang="scss" scoped>
  .chart-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 64px - 38px - 30px);
  }
</style>
