
// form
.el-form-item {
 margin-bottom:$form-item_margin_bottom;
}
.el-form-item__label{
 position: relative;
 line-height: 32px;
 &:after{
   content: ":";
   position: relative;
   top: -.5px;
   margin: 0 8px 0 2px;
 }
}
.no-label .el-form-item__label:after{
 content: '';
}
.el-form-item__content {
 line-height: 32px;
}
.el-form-item__error{
 padding-top: 2px;
}
.el-date-editor .el-range__icon,
.el-date-editor .el-range-separator{
 line-height: 26px;
}
.el-date-editor .el-range__close-icon{
  line-height: 26px;
}



// table
.el-table {
 font-size: 13px;
 th {
  padding: 12px 0;
 }
 td {
   padding: 14px 0;
  .cell{
    .el-button{
      padding: 0;
    }
  }
 }
}

// 列表中更多菜单
.cs_moreBtn{
  margin-left: 8px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  .icon_down{
    display: inline-block;
    padding:4px 6px;
  }
}

// 共用样式
.panel-wrapper{
  padding: 20px;
}
.panel-hd{
 margin:-20px -20px 20px;
 border-bottom:1px solid #F2F6FC;
 padding:20px;
 font-size: 18px;
 color: #333;
 line-height: 1.2
}
.panel-title{
  font-size: 18px;
  color: #333;
  line-height: 1.2;
  margin-bottom: 15px;
}
.no-margin-padding{
  margin: 0;
  padding: 0;
}
.no-margin{
  margin: 0;
}
.margin-bottom15{
 margin-bottom:15px
}
.margin-topf15{
  margin-top:-15px
 }
.margin-bottom24{
  margin-bottom: 24px;
}
.margin-bottom32{
  margin-bottom: 32px;
}
.flex-wrap{
  flex-wrap: wrap;
}
.text-overflow{
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}


code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

.font_size12{
  font-size: 12px;
}
.font_size16{
  font-size: 16px;
}
.font_size18{
  font-size: 18px;
}
.font_size20{
  font-size: 20px;
}
.font_size32{
  font-size: 32px;
}


.tablelist {
  margin-top: 15px;
  padding: 20px;
}
.el-tabs--border-card.no-line{
  border-left: none;
  border-bottom: none;
  border-right: none;
}
.el-table__body tr.hover-row>td,
.el-table--enable-row-hover,
 .el-table__body tr:hover>td {
  background-color: #ecf5ff !important;
}
.search_box {
  .el-input__inner {
    padding-right: 30px;
  }
}

// 字体颜色
.primary{
  color: $--color-primary;
  &:hover{
    color: mix($--color-white, $--color-primary, 50%);
  }
}
.info {
  color: #909399;
  &:hover{
    color: mix($--color-white, #909399, 50%)
  }
}
.danger{
  color: #F56C6C;
  &:hover{
    color: mix($--color-white, #F56C6C, 50%)
  }
}
.warning{
  color:#E6A23C;
  &:hover{
    color: mix($--color-white, #E6A23C, 50%)
  }
}
.success{
  color: #67C23A;
  &:hover{
    color: mix($--color-white, #67C23A, 50%)
  }
}

.el-page-header__title{
  font-size: 18px;
  color: $--color-primary;
}

//按钮
.el-button.blue {
  color: $--color-primary;
}
.el-button--mini, .el-button--small{
  font-size: 13px;
}
.optBtn_panel{
  margin-top: -5px;
  margin-bottom: 10px
}

.flex {
  display: flex;
  align-items: center;
}
.flex.flex_column {
  flex-direction: column;
  height: 100%;
}
.flex_1 {
  flex: 1;
}

// flex_tab
.search_box{
  position: relative;
  overflow: visible;
  &:after{
    content: '';
    width: 200%;
    position: absolute;
    bottom: -16px;
    left: -1px;
    border-bottom: 15px solid $content--background-color;
    z-index: 2;
  }
  .el-card__body{
    padding: 15px 15px 0;
  }
  .search_box_btn{
    position: relative;
    padding-left: 15px;
    margin-left: 10px;
    min-width: 230px;
    &:before{
      content: '';
      border-left: 1px solid #eee;
      position: absolute;
      top: -15px;
      left: -1px;
      bottom: 0;
    }
    &.no_more{
      min-width: 190px;
    }
  }

  .search_close_btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 18px;
    background: #f1f4f5;
    border-top-left-radius:3px;
    border-top-right-radius: 3px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    i{
      color: #C0C4CC;
    }
  }
}
.flex_wrap{
  min-height: calc(calc(100vh - 64px - 38px - 30px));
  display:flex;
  flex-direction:column;
}
.flex_wrap_div{
  min-height: calc(calc(100vh - 64px - 38px - 30px - 42px));
  display:flex;
  flex-direction:column;
}
.flex_tab_div{
  position:relative;
  flex:1;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  .flex_table{
    flex:1;
    max-height: 100%;
  }
}
.flex_tab{
  position:relative;
  flex:1;
  min-height: 400px;
  .el-tabs__content, & > .el-card__body{
    position: absolute;
    top: 39px;
    bottom: 0;
    left: 0;
    right: 0;
    display:flex;
    flex-direction:column;
  }
  & > .el-card__body{
    top: 0;
    padding: 12px;
  }
  &.flex_top > .el-card__body{
    top: 60px;
  }
  .flex_table{
    flex:1;
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .pageList-footer {
    margin: 12px -12px -12px;
    padding: 10px 28px;
    border-top:1px solid #e0d7d4;
  }
}
.no_shadow{
  box-shadow: unset !important;
}
.el-menu-item.is-active{
  border-right: 4px solid $--color-primary;
}
// pageTab 

.aui-content > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item{
  outline: 2px solid #F2F6FC;
}
// tabs
.el-tabs--border-card {
  .el-tabs__item{
    position: relative;
    &.is-active:before {
      content: '';
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-top: 3px solid $--color-primary;
    }
  }
}
.el-tabs__nav{
  .el-badge__content{
    background-color: #ea7531;
  }
}

.badge_status{
  .el-badge__content{
    vertical-align: top;
    margin: 10px 6px 0;
  }
}
