<template>
  <div>
    <el-card class="content box-card" shadow="never">
      <div class="panel-title">
        {{ title }} <span class="info font_size12">{{ desc }}</span>
      </div>
      <slot></slot>
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'index',
  props: {
    title: {
      type: String,
      default: ''
    },
    desc: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped>
.content {
  margin: 12px 0 24px;
}
</style>
