<template>
    <el-card class="aui-card--fill" shadow="never">
      <el-input v-model="inputData" placeholder="Please input" style="width:400px;max-width:100%;" />
      <el-button v-clipboard:copy="inputData" v-clipboard:success="clipboardSuccess" type="primary" icon="el-document">复制</el-button>
      <div style="margin-top: 20px">
        <el-input v-model="pasteText" placeholder="Please input" clearable style="width:400px;max-width:100%;" />
        <el-button  @click="paste" type="primary" icon="el-document">粘贴</el-button>
      </div>

    </el-card>
</template>

<script>
import clipboard from '@/directive/clipboard/index.js' // use clipboard by v-directive

export default {
  name: 'ClipboardDemo',
  directives: {
    clipboard
  },
  data() {
    return {
      activeName: 'directly',
      inputData: 'https://github.com/PanJiaChen/vue-element-admin',
      pasteText: ''
    }
  },
  methods: {
    clipboardSuccess() {
      this.$message({
        message: 'Copy successfully',
        type: 'success',
        duration: 1500
      })
    },
    paste () {
      this.pasteText = this.inputData
    }
  }
}
</script>
