<template>
  <el-card class="aui-card--fill " shadow="never">
    <div class="dndList">
      <div :style="{width: width1}" class="dndList-list">
        <h3>左边列表</h3>
        <draggable :list="list1" :options="{group: 'article'}" class="dragArea">
          <div v-for="element in list1" :key="element.id" class="list-complete-item">
            <div class="list-complete-item-handle">{{ element.name }} [{{ element.date }}] {{ element.address }}</div>
            <div style="position:absolute;right:0px;">
              <span style="float: right ;margin-top: -20px;margin-right:5px;" @click="deleteEle(element)">
                <i class="el-icon-delete danger" />
              </span>
            </div>
          </div>
        </draggable>
      </div>
      <div :style="{width: width2}" class="dndList-list">
        <h3>右边列表</h3>
        <draggable :list="list2" :options="{group: 'article'}" class="dragArea">
          <div v-for="element in list2" :key="element.id" class="list-complete-item">
            <div class="list-complete-item-handle2" @click="pushEle(element)">{{ element.name }} [{{ element.date }}] {{ element.address }}</div>
          </div>
        </draggable>
      </div>
    </div>
  </el-card>
</template>

<script>
import draggable from 'vuedraggable'
export default {
  components: { draggable },
  props: {
    width1: {
      type: String,
      default: '48%'
    },
    width2: {
      type: String,
      default: '48%'
    }
  },
  data() {
    return {
      list1: [],
      list2: []
    }
  },
  created() {
    for (let i = 0; i < 3; i++) {
      this.list1.push({
        index: i,
        date: '2016-05-02',
        name: '王小五' + i,
        address: '上海市普陀区金沙江路 1518 弄'
      })
    }
    for (let i = 0; i < 10; i++) {
      this.list2.push({
        index: i,
        date: '2016-05-02',
        name: '张三',
        address: '上海市普陀区金沙江路 1518 弄'
      })
    }
  },
  methods: {
    isNotInList1(v) {
      return this.list1.every(k => v.name !== k.name)
    },
    isNotInList2(v) {
      return this.list2.every(k => v.name !== k.name)
    },
    deleteEle(ele) {
      for (const item of this.list1) {
        if (item.name === ele.name) {
          const index = this.list1.indexOf(item)
          this.list1.splice(index, 1)
          break
        }
      }
      if (this.isNotInList2(ele)) {
        this.list2.unshift(ele)
      }
    },
    pushEle(ele) {
      for (const item of this.list2) {
        if (item.name === ele.name) {
          const index = this.list2.indexOf(item)
          this.list2.splice(index, 1)
          break
        }
      }
      if (this.isNotInList1(ele)) {
        this.list1.push(ele)
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dndList {
  background: #fff;
  padding-bottom: 40px;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  .dndList-list {
    float: left;
    padding-bottom: 30px;
    &:first-of-type {
      margin-right: 2%;
    }
    .dragArea {
      margin-top: 15px;
      min-height: 50px;
      padding-bottom: 30px;
    }
  }
}

.list-complete-item {
  cursor: pointer;
  position: relative;
  font-size: 14px;
  padding: 5px 12px;
  margin-top: 4px;
  border: 1px solid #bfcbd9;
  transition: all 1s;
}

.list-complete-item-handle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 50px;
}

.list-complete-item-handle2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 20px;
}

.list-complete-item.sortable-chosen {
  background: #409EFF;
}

.list-complete-item.sortable-ghost {
  background: #409EFF;
}

.list-complete-enter,
.list-complete-leave-active {
  opacity: 0;
}
</style>
