<template>
  <el-card class="aui-card--fill" shadow="never">
    <el-row :gutter="10" type="flex" justify="center">
      <el-col :span="12">
        <el-card class="box-card" shadow="never">
          <div slot="header" class="clearfix">
            <span>左边面板</span>
          </div>
          <vuedraggable class="wrapper" :options="{group: 'mission'}" v-model="list">
            <div v-for="item in list" :key="item" class="item">
              <p>{{ item }}</p>
            </div>
          </vuedraggable>
        </el-card>
      </el-col>
      <el-col :span="12">
        <el-card class="box-card" shadow="never">
          <div slot="header" class="clearfix">
            <span>右边面板</span>
          </div>
          <vuedraggable class="wrapper" :options="{group: 'mission'}" v-model="list2">
            <div v-for="item in list2" :key="item" class="item">
              <p>{{ item }}</p>
            </div>
          </vuedraggable>
        </el-card>
      </el-col>
    </el-row>
  </el-card>
</template>

<script>
import vuedraggable from 'vuedraggable'

export default {
  name: 'HelloWorld',
  components: { vuedraggable },
  props: {},
  data() {
    return {
      list: [1, 2, 34, 4, 54, 5],
      list2: [1, 2, 5]
    }
  },
  updated() {
    console.log(this.list)
  },
  methods: {}
}
</script>
<style scoped>
.item {
  width: 150px;
  height: 150px;
  background-color: #42b983;
  color: #ffffff;
}
</style>
