<template>
  <el-card class="aui-card--fill" shadow="never">
    <div class="ql-snow">
      <div class="ql-editor" v-html="dataForm.content"></div>
    </div>
    <div>
      <!-- <Tinymce ref="editor" v-model="dataForm.content" :height="400" /> -->
      <div id="J_quillEditor" ref="quillEditor"></div>
      <!-- 自定义上传图片功能 (使用element upload组件) -->
      <el-upload
        :action="uploadUrl"
        :show-file-list="false"
        :before-upload="uploadBeforeUploadHandle"
        :on-success="uploadSuccessHandle"
        style="display: none;"
      >
        <el-button ref="uploadBtn" type="primary" size="small">{{ $t('upload.button') }}</el-button>
      </el-upload>
      <div class="text-right" style="margin-top:15px">
        <el-button type="info" plain :loading="isAjax" @click="saveForm">保存</el-button>
        <el-button type="primary" :loading="isAjax" @click="submitForm">提交</el-button>
      </div>
    </div>
  </el-card>
</template>

<script>
import 'quill/dist/quill.snow.css'
import Quill from 'quill'
const editorConfig = {
  quillEditor: null,
  uploadUrl: '',
  quillEditorToolbarOptions: [
    ['bold', 'italic', 'underline', 'strike'],
    ['blockquote', 'code-block', 'image'],
    [{ header: 1 }, { header: 2 }],
    [{ list: 'ordered' }, { list: 'bullet' }],
    [{ script: 'sub' }, { script: 'super' }],
    [{ indent: '-1' }, { indent: '+1' }],
    [{ direction: 'rtl' }],
    [{ size: ['small', false, 'large', 'huge'] }],
    [{ header: [1, 2, 3, 4, 5, 6, false] }],
    [{ color: [] }, { background: [] }],
    [{ font: [] }],
    [{ align: [] }],
    ['clean']
  ]
}
export default {
  name: 'editor',
  data() {
    return {
      ...editorConfig,
      isAjax: false,
      dataForm: {
        content: ''
      }
    }
  },
  activated() {
    this.$nextTick(() => {
      if (this.quillEditor) {
        this.quillEditor.deleteText(0, this.quillEditor.getLength())
      } else {
        this.quillEditorHandle()
      }
    })
  },
  methods: {
    // 富文本编辑器
    quillEditorHandle() {
      this.quillEditor = new Quill('#J_quillEditor', {
        modules: {
          toolbar: this.quillEditorToolbarOptions
        },
        theme: 'snow'
      })
      // 自定义上传图片功能 (使用element upload组件)
      this.uploadUrl = `url 地址`
      this.quillEditor.getModule('toolbar').addHandler('image', () => {
        this.$refs.uploadBtn.$el.click()
      })
      // 监听内容变化，动态赋值
      this.quillEditor.on('text-change', () => {
        this.dataForm.content = this.quillEditor.root.innerHTML
      })
      this.quillEditor.container.style.height = '500px'
    },
    // 上传图片之前
    uploadBeforeUploadHandle(file) {
      if (file.type !== 'image/jpg' && file.type !== 'image/jpeg' && file.type !== 'image/png' && file.type !== 'image/gif') {
        this.$message.error(this.$t('upload.tip', { format: 'jpg、png、gif' }))
        return false
      }
    },
    // 上传图片成功
    uploadSuccessHandle(res, file, fileList) {
      if (res.code !== 0) {
        return this.$message.error(res.msg)
      }
      this.quillEditor.insertEmbed(this.quillEditor.getSelection().index, 'image', res.data)
    },
    saveForm() {
      this.isAjax = true
      console.log(this.dataForm.content)
      this.$notify({
        title: '提示',
        message: '保存失败',
        type: 'error',
        duration: 2000,
        onClose: () => {
          this.isAjax = false
        }
      })
    },
    submitForm() {
      this.isAjax = true
      console.log(this.dataForm.content)
      this.$notify({
        title: '提示',
        message: '提交成功',
        type: 'success',
        duration: 2000,
        onClose: () => {
          this.isAjax = false
        }
      })
    }
  }
}
</script>

<style scoped></style>
