<template>
  <el-card class="aui-card--fill" shadow="never">
    <el-button type="primary" @click="pdfView">pdf组件预览</el-button>
  </el-card>
</template>

<script>
// import { printFn } from '@/utils/print'
// import printJS from 'print-js'
export default {
  methods: {
    pdfView () {
      // printFn('/bd/pdf')
      this.$http.get('/bd/pdf').then(({ data: res }) => {
        console.log(location.origin + res)
        // printJS({ printable: location.origin + res, type: 'pdf', showModal: true })
        let url = location.origin + res
        window.open('/static/pdf/web/viewer.html?file=' + encodeURIComponent(url))
      })
      // printJS()
    }
  }
}
</script>

<style scoped></style>
