<template>
  <div class="components-container">
    <code>Sticky header, {{ $t('components.stickyTips') }}</code>
    <div>文字文字文字</div>
    <div>文字文字文字</div>
    <div>文字文字文字</div>
    <div>文字文字文字</div>
    <div>文字文字文字</div>
    <div>文字文字文字</div>
    <div>文字文字文字</div>
    <div>文字文字文字</div>
    <div>文字文字文字</div>
    <div>文字文字文字</div>
    <div>文字文字文字</div>
    <div>文字文字文字</div>
    <div>文字文字文字</div>
    <sticky :sticky-top="150">
      <el-button type="primary"> 固定按钮</el-button>
    </sticky>
    <div v-for="i in 200" :key="i" class="danger">文字文字文字</div>
  </div>
</template>

<script>
import { sticky } from '@/components'
export default {
  components: {
    sticky
  }
}
</script>

<style scoped></style>
