<template>
  <ve-chart :width="width" :height="height" :data="chartData" :extend="extend" :settings="chartSettings" loading></ve-chart>
</template>

<script>
import Vue from 'vue'
import VCharts from 'v-charts'
Vue.use(VCharts)
export default {
  props: {
    chartData: {
      type: Object,
      default: () => {}
    },
    chartSettings: {
      type: Object,
      default: () => {}
    },
    extend: {
      type: Object,
      default: () => {}
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '400px'
    }
  },
  data() {
    return {
      chart: null
    }
  }
}
</script>
