<template>
  <commonPage class="panel-wrapper" isFooter>
    <h1 class="no-margin-padding">编辑客户信息</h1>
    <el-row class="margin-bottom15">
      <el-col>
        <p class="info">单次任务的表单页中需要填写内容众多，且不同内容之中存在一定可分类归纳性。</p>
      </el-col>
    </el-row>

    <!-- 基础信息 -->
    <advanced-base />

    <!-- 地址信息 -->
    <advanced-address />

    <!-- 增值服务 -->
    <advancedService />
    <template slot="footer">
      <el-button type="primary" plain :loading="isSubmit">保存</el-button>
      <el-button type="primary" :loading="isSubmit" @click="submit">提交</el-button>
    </template>
  </commonPage>
</template>

<script>
import commonPage from '@/components/layout/commonPage'
import advancedBase from './advanced/base'
import advancedAddress from './advanced/address'
import advancedService from './advanced/service'
export default {
  name: 'advanced-form',
  components: {
    commonPage,
    advancedBase,
    advancedAddress,
    advancedService
  },
  data() {
    return {
      isSubmit: false
    }
  },
  methods: {
    submit () {
      this.isSubmit = true
      this.timer = setTimeout(() => {
        this.isSubmit = false
        this.$message({
          message: '提交成功',
          type: 'success'
        })
      }, 1500)
    }
  }
}
</script>

<style scoped></style>
