<template>
  <el-card class="aui-card--fill form-step" shadow="never">

    <el-row class="margin-bottom32">
     <el-col>
       <p>将一个冗长或用户不熟悉的表单任务分成多个步骤，指导用户完成。</p>
     </el-col>
    </el-row>

    <el-steps class="step" :active="currentTab" align-center>
      <el-step title="填写转账信息" description=""></el-step>
      <el-step title="确认转账信息" description=""></el-step>
      <el-step title="完成" description=""></el-step>
    </el-steps>

    <div class="content">
      <step1 v-if="currentTab === 0" @nextStep="nextStep"/>
      <step2 v-if="currentTab === 1" @nextStep="nextStep" @prevStep="prevStep"/>
      <step3 v-if="currentTab === 2" @prevStep="prevStep" @finish="finish"/>
    </div>
  </el-card>
</template>

<script>
import step1 from './step/step1'
import step2 from './step/step2'
import step3 from './step/step3'
export default {
  name: 'step-form',
  data () {
    return {
      description: '将一个冗长或用户不熟悉的表单任务分成多个步骤，指导用户完成。',
      currentTab: 0
    }
  },
  methods: {

    // handler
    nextStep () {
      if (this.currentTab < 2) {
        this.currentTab += 1
      }
    },
    prevStep () {
      if (this.currentTab > 0) {
        this.currentTab -= 1
      }
    },
    finish () {
      this.currentTab = 0
    }
  },
  components: {
    step1,
    step2,
    step3
  }
}
</script>

<style lang="scss" scoped>
.form-step{
  .step{
    max-width: 750px;
    margin:0 auto
  }
  .margin-bottom32{
    margin-bottom: 60px;
  }
  .content{
    margin-top: 60px;
  }
}
</style>
