<template>
  <el-card class="aui-card--fill" shadow="never" style="border: none" :body-style="{padding: 0}">
    <slot></slot>
    <div id="cs_FormFooter" ref="cs_FormFooter" v-if="isFooter">
      <slot name="footer"></slot>
    </div>
  </el-card>
</template>

<script>
export default {
  props: {
    isFooter: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      paddingBottom: 0
    }
  },
  created() {
    this.$nextTick(() => {
      if (this.isFooter) {
        const height = this.$refs['cs_FormFooter'].offsetHeight
        this.paddingBottom = height + 'px'
      }
    })
  }
}
</script>

<style scoped>
.edit-page-wrapper {
  position: relative;
}
#cs_FormFooter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 40px 10px 20px;
  text-align: right;
  background: #fff;
  z-index: 99;
  box-shadow: 1px -1px 6px rgba(0, 0, 0, 0.2);
}
</style>
