<!--
  使用
  <el-row :gutter="10">
    <description label="XXX">
      XXXX
    </description>
  </el-row>
-->
<script>
import { Col } from 'element-ui'
const responsive = {
  1: { xs: 24 },
  2: { xs: 24, sm: 12 },
  3: { xs: 24, sm: 12, md: 8 },
  4: { xs: 24, sm: 12, md: 6 }
}
export default {
  name: 'DetailList',
  components: {
    Col
  },
  props: {
    label: {
      type: String,
      default: '',
      required: false
    },
    col: {
      type: Number,
      required: false,
      default: 3
    },
    size: {
      type: String,
      required: false,
      default: 'large'
    },
    layout: {
      type: String,
      required: false,
      default: 'horizontal'
    }
  },
  render() {
    return (
      <Col {...{ props: responsive[this.col] }}>
        <div class="label">{this.label}</div>
        <div class="content">
          {this.$slots.default}
        </div>
      </Col>
    )
  }
}
</script>

<style lang="scss" scoped>

  /deep/ .label {
    color: rgba(0, 0, 0, 0.85);
    display: table-cell;
    line-height: 20px;
    margin-right: 8px;
    padding-bottom: 16px;
    white-space: nowrap;

    &:not(:empty):after {
      content: ':';
      margin: 0 8px 0 2px;
      position: relative;
      top: -0.5px;
    }
  }

  /deep/ .content {
    color: rgba(0, 0, 0, 0.65);
    display: table-cell;
    min-height: 22px;
    line-height: 22px;
    padding-bottom: 16px;
    width: 100%;
    &:empty {
      content: ' ';
      height: 38px;
      padding-bottom: 16px;
    }
  }

</style>
