<template>
  <el-card class="aui-card--fill add-body" shadow="never">
    <div class="panel-hd">
      <el-page-header @back="goBack" content="详情"> </el-page-header>
    </div>
    <div class="detail-content">
      <slot></slot>
    </div>
  </el-card>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'index',
  props: {
    isClosePage: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    goBack () {
      // 关闭标签 或者发送广播
      this.isClosePage ? this.$closeFn() : this.$emit('goBack')
    },
    // 关闭路由
    $closeFn () {
      this.tabremoveHandle(this.$router)
    },
    ...mapActions(['tabremoveHandle'])
  }
}
</script>

<style scoped>

</style>
