<template>
  <div>
    <el-row :gutter="24">
      <el-col :xl="16" :lg="16" :md="24" :sm="24" :xs="24">
        <el-card class="box-card" shadow="never" :body-style="{padding: '0'}">
          <div slot="header" class="clearfix" :body-style="{padding: '0'}">
            <span>我的仓库</span>
            <el-button style="float: right; padding: 2px 0" type="text">全部</el-button>
          </div>
          <div class="clearfix" style="padding: 10px">
            <el-row class="flex-wrap" type="flex">
              <el-col :span="8" v-for="o in 6" :key="o">
                <el-card class="project_wrap box-card" shadow="never" :body-style="{border: '0'}" style="border:0">
                  <el-avatar size="small" src="http://pic162.nipic.com/file/20180425/11388631_174023151212_2.jpg" />
                  <a class="title">wms</a>
                  <div class="description">
                    国际仓库系统
                  </div>
                  <div class="project_item">
                    <a href="/#/">点击查看</a>
                    <span class="datetime">9小时前</span>
                  </div>
                </el-card>
              </el-col>
            </el-row>
          </div>
        </el-card>
        <el-card class="box-card" shadow="never">
          <div slot="header" class="clearfix">
            <span>动态</span>
          </div>
          <div class="list_item" v-for="o in 3" :key="o">
            <el-row :gutter="10" type="flex">
              <el-avatar src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png" />
              <el-col>
                <div class="text">XXX加盟仓库成功已开通</div>
                <div class="time">2020-03-22 12:12:00</div>
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-col>
      <el-col :xl="8" :lg="8" :md="24" :sm="24" :xs="24">
        <el-card class="box-card" shadow="never">
          <div slot="header" class="clearfix">
            <span>快速开始 / 便捷导航</span>
            <el-button style="float: right; padding: 2px 0" size="small" type="text" icon="el-icon-plus">添加导航</el-button>
          </div>
          <div class="item_group">
            <el-link :underline="false" v-for="o in 7" :key="o">导航{{ o }}</el-link>
          </div>
        </el-card>

        <el-card class="box-card" shadow="never">
          <div slot="header" class="clearfix">
            <span>XX订单指数</span>
          </div>
          <veRadar width="100%" :chartData="chartData" :chartSettings="chartSettings" />
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import veRadar from '@/components/charts'
let rows = []
for (let i = 0; i < 5; i++) {
  let obj = {
    item: i % 2 === 0 ? '自营仓' : '加盟仓',
    入库订单: Math.floor(Math.random() * 30),
    出库订单: Math.floor(Math.random() * 50),
    异常订单: Math.floor(Math.random() * 50)
  }
  rows.push(obj)
}
export default {
  components: {
    veRadar
  },
  data() {
    return {
      chartData: {
        columns: ['item', '入库订单', '出库订单', '异常订单'],
        rows: rows
      },
      chartSettings: { type: 'radar' }
    }
  },
  created() {}
}
</script>
<style lang="scss">
.project_wrap {
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;
  transition: all 0.3s;
  &:hover {
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  .title {
    color: rgba(0, 0, 0, 0.85);
    margin-left: 12px;
    line-height: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
  }
  .description {
    color: rgba(0, 0, 0, 0.45);
    height: 44px;
    line-height: 22px;
    overflow: hidden;
  }
  .project_item {
    display: flex;
    margin-top: 8px;
    overflow: hidden;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    a {
      color: rgba(0, 0, 0, 0.45);
      display: inline-block;
      flex: 1 1 0;
    }
  }
  .datetime {
    color: rgba(0, 0, 0, 0.25);
    flex: 0 0 auto;
    float: right;
  }
}
.list_item {
  position: relative;
  padding: 12px 0;
  border-bottom: 1px solid #e8e8e8;
  .text {
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 22px;
  }
  .time {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 22px;
  }
}
.item_group {
  a {
    color: rgba(0, 0, 0, 0.65);
    display: inline-block;
    font-size: 14px;
    margin-bottom: 13px;
    width: 25%;
  }
}
</style>
