<script>
import { cutStrByFullLength, getStrFullLength } from '@/utils/util'
/*
      const isSupportLineClamp = document.body.style.webkitLineClamp !== undefined;

      const TooltipOverlayStyle = {
        overflowWrap: 'break-word',
        wordWrap: 'break-word',
      };
    */

export default {
  name: 'Ellipsis',
  components: {
    // Tooltip
  },
  props: {
    tooltip: {
      type: Boolean
    },
    length: {
      type: Number,
      default: 50
    },
    lines: {
      type: Number,
      default: 1
    },
    fullWidthRecognition: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    getStrDom(str, fullLength) {
      return <span >{cutStrByFullLength(str, this.length) + (fullLength > this.length ? '...' : str)}</span>
    },
    getTooltip(fullStr, fullLength) {
      return (
        <el-tooltip>
          <template slot="content">{fullStr}</template>
          {this.getStrDom(fullStr, fullLength)}
        </el-tooltip>
      )
    }
  },
  render() {
    const { tooltip, length } = this.$props
    const str = this.$slots.default.map(vNode => vNode.text).join('')
    const fullLength = getStrFullLength(str)
    const strDom = tooltip && fullLength > length ? this.getTooltip(str, fullLength) : this.getStrDom(str, fullLength)
    return strDom
  }
}
</script>
