<template>
  <el-card class="aui-card--fill" shadow="never">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
      <el-form-item>
        <el-input v-model="dataForm.creatorName" :placeholder="$t('logLogin.creatorName')" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-select v-model="dataForm.status" :placeholder="$t('logLogin.status')" clearable>
          <el-option :label="$t('logLogin.status0')" :value="0"></el-option>
          <el-option :label="$t('logLogin.status1')" :value="1"></el-option>
          <el-option :label="$t('logLogin.status2')" :value="2"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button @click="getDataList()">{{ $t('query') }}</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="exportHandle()">{{ $t('export') }}</el-button>
      </el-form-item>
    </el-form>
    <el-table v-loading="dataListLoading" :data="dataList" @sort-change="dataListSortChangeHandle">
      <el-table-column prop="creatorName" :label="$t('logLogin.creatorName')"></el-table-column>
      <el-table-column prop="operation" :label="$t('logLogin.operation')">
        <template slot-scope="scope">
          {{ scope.row.operation === 0 ? $t('logLogin.operation0') : $t('logLogin.operation1') }}
        </template>
      </el-table-column>
      <el-table-column prop="status" :label="$t('logLogin.status')" sortable="custom" width="120">
        <template slot-scope="scope">
          <el-badge is-dot class="badge_status" :type="statusType(scope.row.status)"></el-badge>
          <span>{{ statusFm(scope.row.status) }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="ip" :label="$t('logLogin.ip')"></el-table-column>
      <el-table-column prop="userAgent" :label="$t('logLogin.userAgent')">
        <template slot-scope="scope">
          <ellipsis :length="25" :lines="1" tooltip>{{ scope.row.userAgent }}</ellipsis>
        </template>
      </el-table-column>
      <el-table-column
        prop="createDate"
        :label="$t('logLogin.createDate')"
        sortable="custom"
        header-align="center"
        align="center"
        width="180"
      ></el-table-column>
    </el-table>

    <el-pagination
      :current-page="page"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="limit"
      :total="total"
      layout="total, sizes, prev, pager, next, jumper"
      @size-change="pageSizeChangeHandle"
      @current-change="pageCurrentChangeHandle"
    >
    </el-pagination>
  </el-card>
</template>

<script>
import mixinViewModule from '@/mixins/view-module'
import listPage from '@/mixins/listPage'
import { Ellipsis } from '@/components'
export default {
  mixins: [mixinViewModule, listPage],
  data() {
    return {
      mixinViewModuleOptions: {
        getDataListURL: '/bd/log/',
        getDataListIsPage: true
      },
      dataForm: {
        creatorName: '',
        status: ''
      }
    }
  },
  methods: {
    statusType(type) {
      switch (type) {
        case 0:
          return 'info'
        case 1:
          return 'success'
        default:
          return 'danger'
      }
    },
    statusFm(status) {
      switch (status) {
        case 0:
          return this.$t('logLogin.status0')
        case 1:
          return this.$t('logLogin.status1')
        default:
          return this.$t('logLogin.status2')
      }
    }
  },
  components: {
    Ellipsis
  }
}
</script>
