<template>
  <commonPage>
    <el-card class="search_box box-card border_bottom15" shadow="never">
      <el-row type="flex" justify="space-between">
        <el-col>
          <el-form ref="dataForm" inline :model="dataForm">
            <el-row :gutter="20" class="flex-wrap">
              <el-col :span="8">
                <el-form-item label="SKU" label-width="78px" prop="code">
                  <el-input v-model="dataForm.code"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item label="货品条码" prop="barcode">
                  <el-input v-model="dataForm.barcode"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item label="包装类型" prop="packType">
                  <el-select v-model="dataForm.packType" filterable placeholder="请选择">
                    <el-option v-for="item in optionsList" :key="item.value" :label="item.label" :value="item.value"> </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col v-show="searchBoxShow">
                <el-row :gutter="10">
                  <el-col :span="8">
                    <el-form-item label="货品名称" prop="name">
                      <el-input v-model="dataForm.name"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="16">
                    <el-form-item label="创建时间" prop="createDate">
                      <el-date-picker class="w-percent-100" v-model="dataForm.createDate" type="daterange"></el-date-picker>
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-col>
            </el-row>
          </el-form>
        </el-col>
        <div class="search_box_btn">
          <el-button type="primary" icon="el-icon-search" @click="queryPageByParam">{{ $t('query') }}</el-button>
          <el-button icon="el-icon-refresh-right" @click="_resetForm('dataForm')">{{ $t('resetForm') }}</el-button>
          <el-button type="text" @click="searchBoxShowFn"
            >{{ !searchBoxShow ? $t('show') : $t('hide') }}<i :class="searchBoxShow ? 'el-icon-arrow-down' : 'el-icon-arrow-up'"></i
          ></el-button>
        </div>
      </el-row>
    </el-card>
    <div class="tablelist">
      <el-row class="optBtn_panel" type="flex">
        <el-col :sm="{span: 12}">
          <el-button size="mini" class="blue" plain>批量审核</el-button>
          <el-button size="mini" class="blue" plain>批量查看</el-button>
          <action-bar :actions="btnArray" :placement="'bottom'"></action-bar>
        </el-col>
        <el-col :sm="{span: 12}" class="text-right">
          <el-button size="mini" class="blue" plain>{{ $t('add') }}</el-button>
        </el-col>
      </el-row>
      <el-table
        ref="tableList"
        v-loading="dataListLoading"
        :data="dataListFn"
        @select="dataListSelectionChangeHandle"
        @selection-change="controlButton"
      >
        <el-table-column fixed type="selection" header-align="center" align="center" width="50"></el-table-column>
        <el-table-column
          v-for="(item, index) in tableColumnsArr"
          :key="index"
          :prop="item.prop"
          :align="item.align"
          :min-width="item.width"
          :label="item.label"
          sortable
        >
          <template slot-scope="scope">
            <div v-if="item.prop === 'status'">
              <el-badge is-dot class="badge_status" :type="statusType(scope.row.status)"></el-badge>
              <span>{{ statusFm(scope.row.status) }}</span>
            </div>
            <div v-else>
              {{ formatterFn(scope, item.prop) }}
            </div>
          </template>
        </el-table-column>
        <el-table-column label="操作" fixed="right" min-width="150px">
          <template slot="header" slot-scope="scope">
            <span>{{ $t('handle') }}</span>
            <el-tooltip :content="$t('tableConfigTooltip')" placement="top">
              <el-link style="margin-left:10px; font-size:16px" class="el-icon-setting" @click="settingCol(tableColumns)"></el-link>
            </el-tooltip>
          </template>
          <template slot-scope="scope">
            <el-button type="text" size="mini">编辑</el-button>
            <el-popover
              class="el-button el-button--text el-button--mini"
              placement="top"
              width="160"
              trigger="click"
              :ref="`popover-${scope.$index}`"
            >
              <p><i class="el-icon-warning warning font_size16"></i> {{ $t('confirm.delete') }}</p>
              <div class="text-right">
                <el-button size="mini" type="text" @click="cancelDel(scope)">{{ $t('cancel') }}</el-button>
                <el-button type="primary" size="mini" @click="confirmDel(scope)">{{ $t('confirm') }}</el-button>
              </div>
              <el-button slot="reference" type="text" size="mini">{{ $t('delete') }}</el-button>
            </el-popover>
            <action-bar :actions="btnArray" :placement="'bottom'"></action-bar>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        :current-page="page"
        hide-on-single-page
        :page-sizes="[10, 20, 50, 100]"
        :page-size="limit"
        :total="total"
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="pageSizeChangeHandle"
        @current-change="pageCurrentChangeHandle"
      ></el-pagination>
    </div>
    <!-- 自定义列显示弹窗 -->
    <table-set ref="tableSet"></table-set>
  </commonPage>
</template>

<script>
import viewModule from '@/mixins/view-module'
import { commonPage, actionBar } from '@/components'
import tableSet from '@/components/tableSet'
export default {
  mixins: [viewModule],
  data() {
    return {
      mixinViewModuleOptions: {
        getDataListURL: '/bd/product/page',
        getDataListIsPage: true
      },
      dataListIndex: 0,
      dataForm: {
        code: '',
        barcode: '',
        name: ''
      },
      deleteVisible: false,
      dataListSelections: [],
      btnArray: [
        {
          name: '批量删除',
          hasPermission: true,
          onClick: this.view,
          className: 'danger',
          isShow: false
        },
        {
          name: '批量导出',
          hasPermission: true,
          onClick: this.view,
          className: 'primary',
          isShow: false
        }
      ],
      optionsList: [
        {
          label: '电子产品',
          value: 1
        },
        {
          label: '母婴产品',
          value: 2
        }
      ],
      tableColumns: [
        { width: '150', prop: 'code', label: this.$t('SKU'), fixed: true, align: 'left', isShow: true, disabled: false },
        { width: '150', prop: 'barcode', label: this.$t('货品条码'), fixed: false, align: 'left', isShow: true, disabled: false },
        { width: '120', prop: 'name', label: this.$t('货品名称'), fixed: false, align: 'left', isShow: true, disabled: false },
        { width: '180', prop: 'enName', label: this.$t('货品英文名称'), fixed: false, align: 'left', isShow: true, disabled: false },
        { width: '120', prop: 'specType', label: this.$t('规格型号'), fixed: false, align: 'left', isShow: true, disabled: false },
        { width: '100', prop: 'category', label: this.$t('货品类别'), fixed: false, align: 'left', isShow: true, disabled: false },
        { width: '100', prop: 'memo', label: this.$t('备注'), fixed: false, align: 'left', isShow: true, disabled: false },
        { width: '100', prop: 'packType', label: this.$t('包装类型'), fixed: false, align: 'left', isShow: true, disabled: false },
        { width: '100', prop: 'size', label: this.$t('仓库尺寸'), fixed: false, align: 'left', isShow: true, disabled: false },
        { width: '100', prop: 'status', label: this.$t('状态'), fixed: false, align: 'left', isShow: true, disabled: false },
        { width: '150', prop: 'createDate', label: this.$t('创建时间'), fixed: false, align: 'left', isShow: true, disabled: false }
      ]
    }
  },
  created() {},
  computed: {
    tableColumnsArr() {
      let arr = []
      let tableColumns = Object.keys(this.tableColumns).map(key => this.tableColumns[key])
      arr = tableColumns.filter(item => {
        return item.isShow
      })
      return arr
    },
    dataListFn() {
      // 给列表里面的数据添加visible对象
      this.dataList.forEach((item, index) => {
        this.$set(this.dataList[index], 'visible', false)
      })
      return this.dataList
    }
  },
  methods: {
    // 自定义列显示
    settingCol(tableColumns) {
      this.$nextTick(() => {
        this.$refs['tableSet'].init(this.tableName, tableColumns)
      })
    },
    statusType(type) {
      switch (type) {
        case 0:
          return 'info'
        case 1:
          return 'success'
        default:
          return 'danger'
      }
    },
    statusFm(status) {
      switch (status) {
        case 0:
          return this.$t('logLogin.status0')
        case 1:
          return this.$t('logLogin.status1')
        default:
          return this.$t('logLogin.status2')
      }
    },
    // 格式化列显示
    formatterFn(scope, prop) {
      let value
      switch (prop) {
        case 'size':
          value = this.sizePlus(scope.row)
          break
        default:
          value = scope.row[prop]
          break
      }
      return value
    },
    sizePlus(column) {
      // 仓库测量-尺寸
      return (
        (!column.wsLengthD ? 0 : column.wsLengthD) + '*' + (!column.wsWidthD ? 0 : column.wsWidthD) + '*' + (!column.wsHeightD ? 0 : column.wsHeightD)
      )
    },
    controlButton(selection) {
      this.dataListSelections = selection
      let checkedCount = selection.length
      this.checkAll = checkedCount === this.dataList.length
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.dataList.length
    },
    controlButtonAll() {
      if (this.checkAll) {
        this.$refs.tableList.toggleAllSelection()
      } else {
        this.$refs.tableList.clearSelection()
      }
    },
    view() {}
  },
  components: {
    commonPage,
    actionBar,
    tableSet
  }
}
</script>

<style scoped></style>
