<template>
  <commonPage>
    <el-card class="search_box box-card border_bottom15" shadow="never">
      <el-row type="flex" justify="space-between">
        <el-col>
          <el-form ref="dataForm" class="form_no_margin" :model="dataForm" @keyup.enter.native="queryPageByParam()" label-width="120px">
            <el-row :gutter="10" class="flex-wrap">
              <el-col :span="8">
                <el-form-item :label="$t('用户名')" prop="username">
                  <el-input v-model="dataForm.username"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item :label="$t('密码')" prop="password">
                  <el-input v-model="dataForm.password"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item :label="$t('姓名')" prop="realName">
                  <el-input v-model="dataForm.realName"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item :label="$t('头像')" prop="headUrl">
                  <el-input v-model="dataForm.headUrl"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item :label="$t('性别')" prop="gender">
                  <el-input v-model="dataForm.gender"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item :label="$t('邮箱')" prop="email">
                  <el-input v-model="dataForm.email"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item :label="$t('手机号码')" prop="mobile">
                  <el-input v-model="dataForm.mobile"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item :label="$t('部门ID')" prop="deptId">
                  <el-input v-model="dataForm.deptId"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item :label="$t('超级管理员')" prop="superAdmin">
                  <el-input v-model="dataForm.superAdmin"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item :label="$t('备注')" prop="remark">
                  <el-input v-model="dataForm.remark"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-col>
        <div class="search_box_btn">
          <el-button type="primary" icon="el-icon-search" @click="queryPageByParam">{{ $t('query') }}</el-button>
          <el-button icon="el-icon-refresh-right" @click="_resetForm('dataForm')">{{ $t('resetForm') }}</el-button>
          <el-button type="text" @click="searchBoxShowFn"
            >{{ !searchBoxShow ? $t('show') : $t('hide') }}<i :class="searchBoxShow ? 'el-icon-arrow-down' : 'el-icon-arrow-up'"></i
          ></el-button>
        </div>
      </el-row>
    </el-card>
    <div class="tablelist">
      <el-row class="optBtn_panel" type="flex">
        <el-col :sm="{span: 12}">
          <el-button size="mini" class="blue" plain>批量审核</el-button>
          <el-button size="mini" class="blue" plain>批量查看</el-button>
          <action-bar :actions="btnArray" :placement="'bottom'"></action-bar>
        </el-col>
        <el-col :sm="{span: 12}" class="text-right">
          <el-button size="mini" class="blue" plain>{{ $t('add') }}</el-button>
        </el-col>
      </el-row>
      <el-table
        ref="tableList"
        v-loading="dataListLoading"
        :data="dataListFn"
        @select="dataListSelectionChangeHandle"
        @selection-change="controlButton"
      >
        <el-table-column type="expand" fixed="left">
          <template slot-scope="scope">
            <el-form label-position="right" inline class="index-table-expand">
              <el-form-item :label="$t('system.createDate')"
                ><span>{{ scope.row.createDate | gtmToLtm }}</span></el-form-item
              >
              <el-form-item :label="$t('system.updateDate')"
                ><span>{{ scope.row.updateDate | gtmToLtm }}</span></el-form-item
              >
            </el-form>
          </template>
        </el-table-column>
        <el-table-column fixed type="selection" header-align="center" align="center" width="50"></el-table-column>
        <el-table-column
          v-for="(item, index) in tableColumnsArr"
          :key="index"
          :prop="item.prop"
          :align="item.align"
          :min-width="item.width"
          :label="item.label"
          sortable
        />
        <el-table-column label="操作" fixed="right" min-width="150px">
          <template slot="header" slot-scope="scope">
            <span>{{ $t('handle') }}</span>
            <el-tooltip :content="$t('tableConfigTooltip')" placement="top">
              <el-link style="margin-left:10px; font-size:16px" class="el-icon-setting" @click="settingCol(tableColumns)"></el-link>
            </el-tooltip>
          </template>
          <template slot-scope="scope">
            <el-button type="text" size="mini">编辑</el-button>
            <el-popover
              class="el-button el-button--text el-button--mini"
              placement="top"
              width="160"
              trigger="click"
              :ref="`popover-${scope.$index}`"
            >
              <p><i class="el-icon-warning warning font_size16"></i> {{ $t('confirm.delete') }}</p>
              <div class="text-right">
                <el-button size="mini" type="text" @click="cancelDel(scope)">{{ $t('cancel') }}</el-button>
                <el-button type="primary" size="mini" @click="confirmDel(scope)">{{ $t('confirm') }}</el-button>
              </div>
              <el-button slot="reference" type="text" size="mini">{{ $t('delete') }}</el-button>
            </el-popover>
            <action-bar :actions="btnArray" :placement="'bottom'"></action-bar>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        :current-page="page"
        hide-on-single-page
        :page-sizes="[10, 20, 50, 100]"
        :page-size="limit"
        :total="total"
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="pageSizeChangeHandle"
        @current-change="pageCurrentChangeHandle"
      ></el-pagination>
    </div>
    <!-- 自定义列显示弹窗 -->
    <table-set ref="tableSet"></table-set>
  </commonPage>
</template>

<script>
import viewModule from '@/mixins/view-module'
import { commonPage, actionBar } from '@/components'
import tableSet from '@/components/tableSet'
export default {
  mixins: [viewModule],
  data() {
    return {
      mixinViewModuleOptions: {
        getDataListURL: '/sys/user/page',
        getDataListIsPage: true,
        deleteURL: '/sys/user',
        deleteIsBatch: true
      },
      dataListIndex: 0,
      dataForm: {
        code: '',
        barcode: ''
      },
      deleteVisible: false,
      dataListSelections: [],
      btnArray: [
        {
          name: '批量删除',
          hasPermission: true,
          onClick: this.view,
          className: 'danger',
          isShow: false
        },
        {
          name: '批量导出',
          hasPermission: true,
          onClick: this.view,
          className: 'primary',
          isShow: false
        }
      ],
      tableColumns: [
        { type: '', width: '150', prop: 'username', label: this.$t('sysUser.username'), align: 'left', isShow: true, disabled: false },
        { type: '', width: '150', prop: 'password', label: this.$t('sysUser.password'), align: 'left', isShow: true, disabled: false },
        { type: '', width: '150', prop: 'realName', label: this.$t('sysUser.realName'), align: 'left', isShow: true, disabled: false },
        { type: '', width: '150', prop: 'headUrl', label: this.$t('sysUser.headUrl'), align: 'left', isShow: true, disabled: false },
        { type: '', width: '150', prop: 'gender', label: this.$t('sysUser.gender'), align: 'left', isShow: true, disabled: false },
        { type: '', width: '150', prop: 'email', label: this.$t('sysUser.email'), align: 'left', isShow: true, disabled: false },
        { type: '', width: '150', prop: 'mobile', label: this.$t('sysUser.mobile'), align: 'left', isShow: true, disabled: false },
        { type: '', width: '150', prop: 'deptId', label: this.$t('sysUser.deptId'), align: 'left', isShow: true, disabled: false },
        { type: '', width: '150', prop: 'superAdmin', label: this.$t('sysUser.superAdmin'), align: 'left', isShow: true, disabled: false },
        { type: '', width: '150', prop: 'remark', label: this.$t('sysUser.remark'), align: 'left', isShow: true, disabled: false },
        { type: '', width: '150', prop: 'id', label: this.$t('system.id'), align: 'left', isShow: true, disabled: false }
      ]
    }
  },
  created() {},
  computed: {
    tableColumnsArr() {
      let arr = []
      let tableColumns = Object.keys(this.tableColumns).map(key => this.tableColumns[key])
      arr = tableColumns.filter(item => {
        return item.isShow
      })
      return arr
    },
    dataListFn() {
      // 给列表里面的数据添加visible对象
      this.dataList.forEach((item, index) => {
        this.$set(this.dataList[index], 'visible', false)
      })
      return this.dataList
    }
  },
  methods: {
    // 自定义列显示
    settingCol(tableColumns) {
      this.$nextTick(() => {
        this.$refs['tableSet'].init(this.tableName, tableColumns)
      })
    },
    controlButton(selection) {
      this.dataListSelections = selection
      let checkedCount = selection.length
      this.checkAll = checkedCount === this.dataList.length
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.dataList.length
    },
    controlButtonAll() {
      if (this.checkAll) {
        this.$refs.tableList.toggleAllSelection()
      } else {
        this.$refs.tableList.clearSelection()
      }
    },
    view() {}
  },
  components: {
    commonPage,
    actionBar,
    tableSet
  }
}
</script>

<style scoped></style>
