<template>
  <div>
    <div class="information_status">
      <i class="el-icon-circle-check"></i>
      <h2 class="title">操作成功</h2>
      <p class="description">预计两小时内到账</p>
    </div>
    <el-form class="information" label-position="left">
      <el-form-item label="付款账户">
        ant-design@alipay.com
      </el-form-item>
      <el-form-item label="收款账户">
        test@example.com
      </el-form-item>
      <el-form-item label="收款人姓名">
        辉夜
      </el-form-item>
      <el-form-item label="转账金额"> <span class="money">500</span> 元 </el-form-item>
    </el-form>
    <div class="information_btn">
      <el-button type="primary" @click="finish">再转一笔</el-button>
      <el-button style="margin-left: 8px" @click="toOrderList">查看账单</el-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'step3',
  data() {
    return {}
  },
  methods: {
    finish() {
      this.$emit('finish')
    },
    toOrderList() {
      this.$router.push('/')
    }
  }
}
</script>

<style lang="scss" scoped>
.information_status {
  max-width: 560px;
  margin: 0 auto 24px;
  text-align: center;
  .el-icon-circle-check{
    font-size: 80px;
    color: #52c41a;
  }
  .title{
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.85);
    font-size: 24px;
    line-height: 1.8;
    text-align: center;
  }
  .description{
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.45);
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
  }
}
.information {
  max-width: 560px;
  margin: 0 auto 20px;
  background: #fafafa;
  padding: 24px 40px;
}
.information_btn {
  max-width: 560px;
  margin: 0 auto;
  text-align: center;
}
</style>
