<template>
  <div>
    <el-row>
      <el-col :sm="{span: 12, offset: 6}">
        <el-form ref="dataForm" :model="dataForm" :rules="rules" >
          <el-form-item label="付款账户" prop="paymentUser">
            <el-select class="w-percent-100" v-model="dataForm.paymentUser" placeholder="123@alipay.com">
              <el-option value="123@alipay.com">123@alipay.com</el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="收款账户" prop="payAccount">
            <el-input class="input-with-select" v-model="dataForm.payAccount" placeholder="请输入内容">
              <el-select v-model="dataForm.payType" slot="prepend" placeholder="请选择">
                <el-option value="1" label="支付宝"></el-option>
                <el-option value="2" label="微信"></el-option>
              </el-select>
            </el-input>
          </el-form-item>
          <el-form-item label="收款人姓名" prop="name">
            <el-input v-model="dataForm.name" />
          </el-form-item>
          <el-form-item label="转账金额" prop="money">
            <el-input type="text" v-model="dataForm.money">
              <span slot="prefix">￥</span>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="nextStep">下一步</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>

    <el-divider />
    <div class="step-form-style-desc">
      <h3>说明</h3>
      <h4>转账到支付宝账户</h4>
      <p>如果需要，这里可以放一些关于产品的常见问题说明。如果需要，这里可以放一些关于产品的常见问题说明。如果需要，这里可以放一些关于产品的常见问题说明。</p>
      <h4>转账到银行卡</h4>
      <p>如果需要，这里可以放一些关于产品的常见问题说明。如果需要，这里可以放一些关于产品的常见问题说明。如果需要，这里可以放一些关于产品的常见问题说明。</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'step1',
  data() {
    return {
      dataForm: {
        paymentUser: '',
        payType: '1',
        payAccount: 'test@example.com',
        name: 'Alex',
        money: '5000'
      }
    }
  },
  computed: {
    rules() {
      return {
        paymentUser: [{ required: true, message: '付款账户必须填写' }],
        payAccount: [{ required: true, message: '收款账户必须填写' }],
        name: [{ required: true, message: '收款人名称必须核对' }],
        money: [{ required: true, message: '转账金额必须填写' }]
      }
    }
  },
  methods: {
    nextStep () {
      // 先校验，通过表单校验后，才进入下一步
      this.$refs['dataForm'].validate(valid => {
        if (!valid) {
          return false
        }
        this.$emit('nextStep')
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.step-form-style-desc {
  padding: 0 56px;
  color: rgba(0, 0, 0, 0.45);

  h3 {
    margin: 0 0 12px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 16px;
    line-height: 32px;
  }

  h4 {
    margin: 0 0 4px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 22px;
  }

  p {
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 22px;
  }
}
</style>
<style lang="scss">
.input-with-select .el-input-group__prepend {
  background-color: #fff;
  .el-select .el-input {
    width: 130px;
  }
}
</style>
