<template>
  <div>
    <el-row>
      <el-col :sm="{span: 12, offset: 6}">
        <el-alert class="margin-bottom32" title="确认转账后，资金将直接打入对方账户，无法退回。" type="warning" show-icon></el-alert>
        <el-form ref="dataForm" :model="dataForm" :rules="rules" @submit.native.prevent>
          <el-form-item label="付款账户">
            ant-design@alipay.com
          </el-form-item>
          <el-form-item label="收款账户">
            test@example.com
          </el-form-item>
          <el-form-item label="收款人姓名">
            Alex
          </el-form-item>
          <el-form-item label="转账金额" >
            ￥ 5,000.00
          </el-form-item>
          <el-divider />
          <el-form-item label="支付密码"  prop="paymentPassword" >
            <el-input type="password" v-model="dataForm.paymentPassword" />
          </el-form-item>
          <el-form-item>
            <el-button :loading="loading" type="primary" @click="nextStep">提交</el-button>
            <el-button @click="prevStep">上一步</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'step2',
  data () {
    return {
      loading: false,
      timer: 0,
      dataForm: {
        paymentPassword: '123456'
      }
    }
  },
  computed: {
    rules () {
      return {
        paymentPassword: [{ required: true, message: '请输入支付密码' }]
      }
    }
  },
  methods: {
    nextStep () {
      this.loading = true
      this.$refs['dataForm'].validate(valid => {
        if (!valid) {
          this.loading = false
          return false
        }
        this.timer = setTimeout(() => {
          this.loading = false
          this.$emit('nextStep')
        }, 1500)
      })
    },
    prevStep () {
      this.$emit('prevStep')
    }
  },
  beforeDestroy () {
    clearTimeout(this.timer)
  }
}
</script>

<style scoped></style>
