<template>
  <div :style="isInline">
    <el-button
      v-show="showBtnList && showBtnList.length"
      v-for="(obt, index) in showBtnList"
      :key="index"
      type="text"
      size="mini"
      :class="obt.className"
      :disabled="!!obt.disabled"
      @click="$_onBtnClick($event, obt)"
    >
      {{ $t(obt.name) }}
    </el-button>
    <el-popover class="cs_moreBtn" v-show="hideBtnList && hideBtnList.length" :placement="placement" popper-class="cs_poper_class" v-model="visible">
      <i slot="reference" :class="visible ? 'el-icon-arrow-up' : 'el-icon-arrow-down'"></i>
      <div class="cs_more_btn_view" ref="cs_popover">
        <el-button
          v-for="(obt, index) in hideBtnList"
          :key="index"
          type="text"
          size="mini"
          :class="obt.className"
          :disabled="!!obt.disabled"
          @click="$_onBtnClick($event, obt)"
        >
          {{ $t(obt.name) }}
        </el-button>
      </div>
    </el-popover>
  </div>
</template>
<script>
export default {
  props: {
    actions: {
      type: Array,
      default: () => {
        return []
      }
    },
    dataP: {},
    trigger: {
      type: String,
      default: 'hover'
    },
    placement: {
      type: String,
      default: 'bottom'
    },
    inline: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      visible: false
    }
  },
  computed: {
    isInline() {
      return this.inline ? 'display:inline' : ''
    },
    showBtnList() {
      const btnList = this.actions.filter(item => {
        return item.isShow && item.hasPermission
      })
      return btnList
    },
    hideBtnList() {
      const btnList = this.actions.filter(item => {
        return !(item.isShow && item.hasPermission)
      })
      return btnList
    }
  },
  methods: {
    // MARK: events handler
    $_onBtnClick(event, action) {
      if (action.disabled) {
        return
      }
      action.onClick && action.onClick(this.dataP, event, action)
      this.$emit('click', this.dataP, event, action)
      this.visible = false
    },
    showBtn() {
      console.log(11)
      this.visible = !this.visible
    }
  }
}
</script>
<style lang="scss">
.cs_more_btn_view {
  .el-button {
    display: block;
    width: 100%;
    margin-left: 0;
  }
}
</style>
