<template>
  <div class="area-box" :style="this.top ? {'margin-top':  setTop} : ''">
      <h3 class="title">{{title}}</h3>
    <div class="content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    top: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
    }
  },
  computed: {
    setTop () {
      let ret = 25
      ret = Number(this.top) + ret + 'px'
      return ret
    }
  }
}
</script>

<style scoped lang="scss">
.area-box{
  position: relative;
  margin-top:25px;
  padding:20px 10px 10px;
  border:1px solid #DCDFE6;
  .title{
    position: absolute;
    top:-20px;
    left: 20px;
    display: inline-block;
    margin:0;
    padding: 10px;
    background-color: #fff;
    font-size: 16px;
    color: #606266;
  }
  .content{
    position: relative;
    padding: 10px 20px 0;
  }
}
</style>
